$text:#213F7D;
$text-two: #545F7D;
$text-green: #39CDCC;

@font-face { 
  font-family: "Avenir Next Regular"; 
  src: url("https://cdn.filestackcontent.com/ambXpXqBRJOaOjmqC2TL"),   
} ;
@font-face {
  font-family: "Avenir Next Medium";
  src: url("https://cdn.filestackcontent.com/7AlIMccoSnOe4wEtIg33")
};
@font-face {
  font-family: "Avenir Next Bold";
  src: url("https://cdn.filestackcontent.com/mIX2GC7dQ1uUABBbJ8Fk");
}
;

@mixin input-field-style {
  font-family: 'Avenir Next Regular', sans-serif;
  border-radius: 5px;
  border: 1px solid #545f7d26;
  background: #FFF;
  color: $text;
  height: 3.125rem;
  font-size: .875rem;
  transition: 0.2s;

  &::placeholder {
    font-size: 14px;
    font-family: unset;
    color: $text-two;
    opacity: 0.6;
  };
  
  &::-ms-input-placeholder{
    font-size: 14px;
    font-family: inherit;
    color: $text-two;
    opacity: 0.6;
  }
  &:focus, &:active{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(57, 205, 204, 0.25);
  }
};

.header-section{
  padding: 1rem;
  .lendsqr-icon{
    display: flex;
    align-items: center  
  }
}

.login-container{
  font-family: 'Avenir Next regular', sans-serif;
  padding: 1rem 2rem;
  margin-top: 6rem;
    

  .img-section{
    margin: 0 0 1.5rem 0;
    display: none;
    img{
      height: 100%;
      width: 100%;
    }
  }
  .form-section{
   
    .header{
      div{
        margin: 1rem 0 2.5rem;
        &:first-of-type{
          font-family: 'Avenir Next Bold' , sans-serif;
          font-size: 2.5rem;
          letter-spacing: -1.6px;
          color: $text;
          margin-bottom: 10px;
        }
        &:last-of-type{
          font-size: 1.25rem;
          color: $text-two; 
        }
      }
    }    
    .form-wrapper{
     
      form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        font-family: "Avenir Next Medium",  sans-serif;

        small{
          font-size: 0.75rem;
          color: rgba(255, 0, 0, 0.936)
        }

        .email{
          @include input-field-style;
          padding: 0 1rem 0 1rem;
        }
        .password-wrapper{
          position: relative;
          width: 100%;

          .password{
            @include input-field-style;
            padding: 0 3.975rem 0 1rem;
            width: 100%;

          }

          .show-password{
            position: absolute;            
            padding: 1.125rem;
            border-radius: 8px;
            right: 0;
            top: 1px;
            font-size: 0.75rem;
            color: $text-green;
            cursor: pointer;
          }
        }
        .forgot-password{
          max-width: max-content;
          font-size: 0.75rem;
          color: $text-green;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: "Avenir Next Bold", sans-serif;
          margin: 1.25rem 0;
          letter-spacing: 0.1em;
          cursor: pointer;

          &:hover{
            text-decoration: underline;
          }
        }
        .login-btn{
          button{
            font-family: inherit;
            letter-spacing: 1.4px;
            width: 100%;
          }
        }
      }
    }
  }

  // Media Queries 
}
@media screen and (min-width: 640px) {
  
  .header-section{
    margin: 2rem 3rem 0 3rem;
  }
  .login-container{
    margin: 1rem 2rem;
  }
}

@media screen and (min-width: 900px) {
  .login-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .image-section{
      display: block;
      img{
        max-width: 900px;
        width: 40%;
      }
    }
    .form-section{
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header-section{
    margin-top: 4rem;
    margin-left: 8.5rem;
  }

  .login-container{
    justify-content: space-around;
    align-items: start;

    .img-section{
      display: block;
      align-self: flex-end;
      width: 50%;
      img{
        margin-top: 6rem;
        max-width: 600px;
      }
    }

    .form-section{
      max-width: 28.5rem;
    }
  }
}